.header {
    font-size: -webkit-xxx-large;
    background: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    color: mintcream;

}