@import "../../../styles.scss";

.header {
    font-size: xx-large;
    background: #76424e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #1f252a;
    font-style: oblique;
}